{% block feature %} 
<!-- Feature section -->
<section class="ftco-section ftco-partner" id="feature-section">
    <div class="container d-flex justify-content-center mt-5">
        <div class="row col-md-9">
            <a href="/analisis_text#analysis-section" class="col-md-12 col-lg ftco-animate d-flex justify-content-center">
                <div class="partner col-sm-9">
                    <img src="{{url_for('static', filename='images/text-1.png')}}" class="img-fluid mx-auto d-block" alt="Analisis Text">
                    <h3 class="text-center">Analisis Teks</h3>
                </div>
            </a>
            <a href="/analisis_tweet#analysis-section" class="col-md-12 col-lg ftco-animate d-flex justify-content-center">
                <div class="partner col-sm-9">
                    <img src="{{url_for('static', filename='images/twitter-1.png')}}" class="img-fluid mx-auto d-block" alt="Analysis Tweet">
                    <h3 class="text-center">Analisis Tweet</h3>
                </div>
            </a>
            <a href="/tentang_pengujian#about-section" class="col-md-12 col-lg ftco-animate d-flex justify-content-center">
                <div class="partner col-sm-9">
                    <img src="{{url_for('static', filename='images/accuracy-1.png')}}" class="img-fluid mx-auto d-block" alt="Tentang Pengujian">
                    <h3 class="text-center">Tentang Pengujian</h3>
                </div>
            </a>
            <a href="/tentang_model#about-section" class="col-md-12 col-lg ftco-animate d-flex justify-content-center">
                <div class="partner col-sm-9">
                    <img src="{{url_for('static', filename='images/deep-learning-1.png')}}" class="img-fluid mx-auto d-block" alt="Tentang Model">
                    <h3 class="text-center">Tentang Model</h3>
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}