{% extends 'public/base.html' %}

<!-- Block Head -->
{% block head %}
<title>Tentang Pengujian &mdash; by AgungNH</title>

{% endblock %}

<!-- Block Content -->
{% block content %}

	{% include 'public/feature.html' %}

	<!-- About section -->
    <section class="ftco-about img ftco-section" id="about-section">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-12 col-lg-12 pl-md-5">
					<div class="col-md-12 heading-section ftco-animate">
						<h2 class="mb-4">Hasil Pengujian Model</h2>
						<h4>Hasil pengujian Model LSTM dengan konfigurasi terbaik</h4>
							{% if status %}
							<p>
								<b>
								<i>Accuracy</i> : {{ hasil1[0] }}%<br>
								<i>Precision</i> : {{ hasil1[1] }}%<br>
								<i>Recall</i> : {{ hasil1[2] }}%<br>
								<i>F1-Score</i> : {{ hasil1[3] }}%
								</b>
							</p>
							{% endif %}
							<br>
						<p style="text-align:justify">
							Model akhir yang digunakan pada pengujian memiliki arsitektur yang ditunjukkan pada halaman <a href="/tentang_model#about-section">Tentang Model</a>. 
							Model dilatih sebanyak 30 <i>epoch</i> dengan <i>batch size</i> 256 dan <i>Optimizer</i> Adam. 
							Di bawah ini merupakan Grafik <i>Training History</i>.
						</p>
						<div class="img mx-auto col-lg-9">
							<img src="{{url_for('static', filename='public/figures/_validation_training_report.png')}}" class="img-fluid" alt="val_train_report">
						</div><br>
						<p style="text-align:justify">
							Pengujian yang dilakukan terdiri dari pengujian model LSTM yang bertujuan untuk mengetahui tingkat <i>Accuracy</i>, <i>Precision</i>, <i>Recall</i> dan <i>F1-Score</i>. 
							<i>Confusion Matrix</i> dibutuhkan dalam pengujian ini sebagai acuan dalam melakukan evaluasi performa dari LSTM. 
							Pada penelitian ini, proses validasi dilakukan dengan menggunakan <i>K-Fold Cross Validation</i>.
						</p>
						<p style="text-align:justify">
							Pengujian model yang akan dilakukan pada penelitian ini menggunakan <i>K-Fold Cross Validation</i>. 
							Proses pengujian yang dilakukan menggunakan nilai k=5 yang artinya terdapat 5-<i>fold</i>/bagian pada dataset. 
							Pada 5-<i>fold cross validation</i>, data akan dibagi menjadi 5 subset dengan ukuran yang sama dengan data yang berbeda. 
							Pada setiap iterasi k, satu bagian digunakan untuk data uji sedangkan sisanya digunakan untuk data latih, sehingga rasio pembagian dataset adalah 80% data latih dan 20% data uji. 
						</p>
						<br>
						<div class="text-about">
							<div class="img mx-auto col-md-9 col-lg-9">
								<h5 style="text-align:center">
									Grafik K-Fold Cross Validation
								</h5>
								<img src="{{url_for('static', filename='public/figures/_validation_report.png')}}" class="img-fluid" alt="kfold_reports">
							</div>
							<br>
							<h4>Confusion Matrix</h4>
							<div class="img mx-auto col-md-4 col-lg-4">
								<img src="{{url_for('static', filename='public/images/confusion-matrix-1.png')}}" class="img-fluid" alt="confusion_matrix">
							</div>
							<p style="text-align:justify">
								<i>Confusion Matrix</i> merepresentasikan prediksi dan kondisi sebenarnya (aktual) dari data yang dihasilkan oleh algoritma LSTM. 
								<i>True Positive</i> (TP) merupakan hasil prediksi positif dan kondisi aktual juga positif. 
								<i>True Negative</i> (TN) merupakan hasil prediksi negatif dan kondisi aktual juga negatif. 
								<i>False Positve</i> (FP) merupakan hasil prediksi positif namun kondisi aktual negatif. 
								<i>False Negative</i> (FN) merupakan hasil prediksi negatif namun kondisi aktual positif.
							</p>
							<h4>Accuracy</h4>
							<p>
								<i>Accuracy</i> adalah perbandingan antara kelas yang diprediksi dengan benar terhadap total data yang ada.
								<br>Accuracy = TP+TN/TP+FP+FN+TN
							</p>
							<h4>Precision</h4>
							<p>
								<i>Precision</i> adalah perbandingan antara kelas yang diprediksi dengan benar terhadap total data yang terklasifikasikan suatu kelas.
								<br>Precision = TP/TP+FP
							</p>
							<h4>Recall</h4>
							<p>
								<i>Recall</i> adalah perbandingan antara kelas yang diprediksi dengan benar terhadap total data yang ada pada suatu kelas.
								<br>Recall = TP/TP+FN
							</p>
							<h4>F-Measure</h4>
							<p>
								<i>F-Measure</i> adalah perbandingan rata-rata <i>Precision</i> dan <i>Recall</i>.
								<br>F1-Score = 2*(Recall * Precision) / (Recall + Precision)
							</p>
							
							<h4>K-Fold Cross Validation</h4>
							<div class="img mx-auto col-md-9 col-lg-9">
								<img src="{{url_for('static', filename='public/images/kfolds-1.png')}}" class="img-fluid" alt="kfold_validation">
							</div>
							<p style="text-align:justify">
								<i>Cross-validation</i> adalah prosedur resampling yang digunakan untuk melakukan evaluasi model <i>deep learning</i> pada data sampel yang terbatas. 
								<i>Cross-validation</i> digunakan dalam <i>deep learning</i> untuk memperkirakan performa dari model <i>deep learning</i> pada data yang tertutup. 
								Artinya, menggunakan sampel terbatas untuk memperkirakan bagaimana performa model secara umum saat digunakan untuk membuat prediksi pada data yang tidak digunakan selama pelatihan model.
								<br>
								K-Fold <i>Cross Validation</i> adalah ketika dataset dibagi menjadi sejumlah Fold (K-n) di mana setiap fold digunakan sebagai set pengujian di beberapa titik. 
								Pengujian pada model yang telah dilakukan adalah dengan skenario cross validation sebanyak K = 5,  di mana kumpulan data dibagi menjadi 5 bagian. 
								Pada iterasi pertama, fold pertama digunakan untuk menguji model dan sisanya digunakan untuk melatih model. 
								Pada iterasi kedua, fold ke-2 digunakan sebagai set pengujian, sedangkan lipatan lainnya berfungsi sebagai set pelatihan. 
								Proses ini diulangi sampai setiap lipatan dari 5 lipatan telah digunakan sebagai set pengujian.
							</p>
						</div>
					</div>
				</div>
			</div>
    	</div>
	</section>

<!-- End of Content -->
{% endblock %}